@model ClaudEventos.DTO.LocalEventoDTO
@{
    Layout = "_LayoutAdmin";
}
<h3>Nova Casa de Show </h3>
<hr/>
<form class="form-horizontal" asp-controller="LocalEventos" asp-action="Salvar" method="POST">
    <input type="hidden" asp-for="Id" value="0">
    <label asp-for="Nome"><b>Nome</b></label>
    <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da Casa de Shows">
    <span asp-validation-for="Nome"></span><br>
    <br><label asp-for="Nome"><b>Endereço</b></label>
    <input type="text" asp-for="Endereco" class="form-control" placeholder="Endereço">
    <span asp-validation-for="Endereco"></span><br>
    <br><button class="btn btn-secondary"> Adicionar Casa de Show</button> 
</form>