@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>O Site trabalha com todas as medidas necessárias para trazer segurança e proteção a privacidade de seus usuários, trazendo detalhadamente a forma de atuação do blog referente as etapas de coleta, armazenamento, uso, compartilhamento e divulgação dos dados pessoais dos usuários, bem como a forma como é realizada a segurança e proteção dos dados que são coletados na nossa página.</p>
