@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Não Permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <img src="https://pbs.twimg.com/profile_images/108021721/error_button_400x400.png">
    <p class="text-danger" style="size: 20px;"><b>Você não tem permissão para acessar essa área.</b></p>
    Acesso permitido apenas para o perfil Administrador

</header>
